source /usr/share/byobu/profiles/common

# Window tabs, second to last line
caption always "%{wk}%?%-Lw%50L>%?%{bw}%n*%f %t%?(%u)%?%{wk}%?%+Lw%?%11` %=%{= kw}%110`%109`%122`%111`%10`%<"

chdir ~/work/coolpur/member
defutf8 on

screen -t server 0
select 0
exec ruby script/server -u --debug

screen -t console 1
exec ruby script/console

screen -t log 2
exec tail -f log/development.log

#screen -t mysql 3
#exec mysql mysql -uname -ppassword

screen -t terminal
