source /usr/share/byobu/profiles/common
 
# Window tabs, second to last line
caption always "%{wk}%?%-Lw%50L>%?%{bw}%n*%f %t%?(%u)%?%{wk}%?%+Lw%?%11` %=%{= kw}%110`%109`%122`%111`%10`%<"
 
chdir ~/work/omei/t_agent
defutf8 on
 
screen -t server 0
select 0
exec ruby script/server 
 
screen -t log 1
exec tail -f log/development.log

screen -t console 2
exec ruby script/console
 
#screen -t mysql 3
#exec mysql mysql -uname -ppassword

screen -t rails 3
exec vi

screen -t data 4
chdir ~/work/omei/data_mig/db
exec vi

screen -t db:con 5 

